html{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefefbd;
}
header{
    background-image: url("../images/header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
main{
    margin-bottom: 50px;
}
#about{
    margin-bottom: 5%;
    color: grey;
}
.borderradius{
    border-radius:30px;
}
#containerForForms{
    background-color: white;
    position: relative;
}
.vehicle{
    background-color: #3A6E75;
}
::placeholder {
    font-size: 14px!important;
    color: #3A6E75!important;
 }

.form-control{
     font-family: 'Roboto', sans-serif !important;
     font-size: 14px!important;
     color: #3A6E75;
 }
.custom-select::before{
    background-color: white;
}

.btn-dark{
    background-color: #3A6E75;
    border-style: none;
    color: white;
    font-size: 1.4em!important;
    margin-bottom: -5%;
    margin-right: -5%;
}
.btn-dark:hover{
    background-color: #48C6D9;
}
footer{
    background-color: #48C6D9;
    background-size: cover;
    width:100%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #3A6E75;
}
.logo{
    width: 40%;
    margin-left: 7%;
    margin-bottom: 1%;
}
.syntraLogo{
    size: cover;
    width: 60%;
    margin: 0 20%;
}
p{
    margin:0;
}
#algoritme, #techStack, #linkedIn{
    color:white;
    text-align: center;
    padding: 25px 5px;
    font-size: 14px;
}
h2, h4, h5, h6{
    color: #3A6E75;
    font-weight: 700;
}
h3{
    color: white;
    font-weight: 700;
}
/*Google Map Style*/
#googleMap{
    width:80%;
    height:100vh;

}
.alert-info {
    padding: 5px;
    margin-top: 15px;
}



