/* 
colors
dark blue #3A6E75
light blue #01BDD5
*/
html{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #efefefbd;
}
header{
    margin-top:2%;
    margin-bottom: 50px;
    margin-left: 7%;  
}
main{
    margin-bottom: 50px;
}
#about{
    margin-bottom: 5%;
}
.containerForForms{
    background-color: #87D9E3;
    padding: 2% 5%;
    border-radius: 20px;
}
#form{
    padding: 50px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #3A6E75;
    background-color: #01bcd57e;
}
.secondInput{
    margin-left: 5px !important; 
}
footer{
    background-color: #01BDD5;
    background-size: cover;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #08A4BA;
}
.logo{
    background-size: cover;
    width: 55%;
}
.syntraLogo{
    size: cover;
    width: 60%;
    margin: 0 20%;
}
p{
    margin:0;
}
#algoritme, #techStack, #linkedIn{
    color:white;
    text-align: center;
    padding: 25px 5px;
    font-size: 14px;
}
#about{
    text-align: center;
}
h5{
    color: #3A6E75;
    margin-bottom: 20px;
}

/* p.stack {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding: 7px;
    border-radius: 4px;
    width: fit-content;
    margin: auto;
} */
