/* 
colors
light Blue: #89D9E3
med Blue: #44CBDC
dark Blue: #3A6E75
*/
html{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #efefefbd;
}
header{
    background-image: url("../images/header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
main{
    margin-bottom: 50px;
}
#about{
    margin-bottom: 5%;
    color: grey;
}
.borderradius{
    border-radius:30px;
}
#containerForForms{
    background-color: #89D9E3;
}
#form{
    background-color: #44CBDC;
}
::placeholder {
    font-size: 0.7em!important;
    color: #3A6E75!important;
 }

footer{
    background-color: #44CBDC;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #3A6E75;
}
.logo{
    width: 45%;
    margin-left: 7%;
    margin-bottom: 1%;
}
.syntraLogo{
    size: cover;
    width: 60%;
    margin: 0 20%;
}
p{
    margin:0;
}
#algoritme, #techStack, #linkedIn{
    color:white;
    text-align: center;
    padding: 25px 5px;
    font-size: 14px;
}
h3, h5, h6{
    color: #3A6E75;
}

