header{
    margin-bottom: 50px;
}

footer{
    background-color: #68FCFF;
    background-size: cover;
    margin: 0px;
}
a{
    text-decoration: none;
    color: #08A4BA;
}
a:hover{
    color: white;
}
.logo{
    background-size: cover;
    width: 66,6%;
}
#syntraLogo{
    size: cover;
    width: 50px;

}
p.stack {
    border-width: 1px;
    border-color: #08A4BA;
    border-style: solid;
    padding: 7px;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 11px;
    width: fit-content
}
#algoritme, #techStack, #linkedIn{
    color: #08A4BA;
}
